/*
 * ":empty" sözde sınıfı ile içeriği hiç olmayan etiketler seçilip style uygulanabilir.
 * Alttaki gibi kullanımlar tanımlanabilir
 *
*/

li:empty{
  display: none;
}

#content:empty{
  display: none;
}

#content:not(:empty) ~ #global-loading{
  display: none;
}

