/* 
    'first-of-type' kullanımı 'firt-child' sözde sınıfının muadili olan etikettir, etiketin türüne göre çalışan sözde sınıftır.
    'firt-child' yerine 'first-of-type' kullanmak daha sağlıklıdır.
    Aynı durum 'last-of-type' kullanımı 'last-child' sözde sınıfları için de geçerlidir.
*/

/*'my-list' sınıfına sahip olan etiketlerin ilk bulunan 'li' çocuğuna css etki edecektir*/
.my-list li:first-of-type{
    background-color: tomato;
}

/* 'div' etiketlerinin altında ilk bulunan 'ul' etiketine(yani ilk 'ul' çocuğuna) verilen css etki edecektir*/
div ul:first-of-type{
    background-color: blueviolet;
}

/*'body' altında bulunan ilk 'div' etiketine css uygulanır*/
div:first-of-type{
    background-color: turquoise;
}